<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfbb_attack_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,192},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{0,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{192,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{384,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{576,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dfbb_attack_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,192}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{768,384},{192,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dfbb_attack_1.png</string>
            <key>size</key>
            <string>{960,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f2bb252469bc4e7fce3c0534efca6c:2c132cabbaa793908102364b2c93e080:e56fa57c85f81ba868f86842e75faab3$</string>
            <key>textureFileName</key>
            <string>dfbb_attack_1.png</string>
        </dict>
    </dict>
</plist>
