<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duanyustand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duanyustand_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>duanyustand.png</string>
            <key>size</key>
            <string>{1900,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f457049780c674349a577458e5895629:7bfe5a9167fc4ef1d1983b17ecf301c5:c735125c216e5051ca7cd1f8bce91799$</string>
            <key>textureFileName</key>
            <string>duanyustand.png</string>
        </dict>
    </dict>
</plist>
