<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaofengstand_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,0},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,190},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,380},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,570},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,760},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{760,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{950,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1140,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1330,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1520,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1710,950},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{0,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{190,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{380,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaofengstand_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{570,1140},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaofengstand.png</string>
            <key>size</key>
            <string>{1900,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3441c0ee423d64b60ce497bfcf1553f2:610e69445e9849f1c5a11ab927f527b1:b36e942abff3180d07e5817aa73b6fc8$</string>
            <key>textureFileName</key>
            <string>xiaofengstand.png</string>
        </dict>
    </dict>
</plist>
