<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangwujirun_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{175,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{350,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{525,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{700,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{875,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1050,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1225,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1400,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1575,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1750,0},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{0,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{175,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{350,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{525,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{700,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{875,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1050,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1225,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1400,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1575,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1750,175},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{0,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{175,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{350,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{525,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{700,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{875,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1050,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1225,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1400,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1575,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1750,350},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{0,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{175,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{350,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{525,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{700,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{875,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1050,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1225,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1400,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1575,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1750,525},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{0,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{175,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{350,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{525,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{700,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{875,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1050,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1225,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1400,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1575,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1750,700},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{0,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{175,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{350,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{525,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{700,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{875,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1050,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1225,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangwujirun_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,175}</string>
                <key>spriteSourceSize</key>
                <string>{175,175}</string>
                <key>textureRect</key>
                <string>{{1400,875},{175,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhangwujirun.png</string>
            <key>size</key>
            <string>{1925,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e739ba390b7c334ed47d582f2340594:e0bbc0c9944bc21f71da557f8115495e:f0dc110d1a97a2e4f8f6506ce1a154d7$</string>
            <key>textureFileName</key>
            <string>zhangwujirun.png</string>
        </dict>
    </dict>
</plist>
